@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Izbačen.</h1>
    <h2 class="text-danger">Ovaj nalog je izbačen, pokušajte ponovo poslije.</h2>
</hgroup>
